@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-gray-50 dark:bg-gray-950 text-gray-900 dark:text-gray-100;
}
